@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
  background-image: url("pic/b.jpg");
  background-size: cover;
}
button {
    font-size: 50px;
    background-color: rgba(252, 56, 13, 1);
    font-family: Quicksand;
    border-radius: 6px;
    color: white;
    border-color: rgba(252, 56, 13, 1);
     position:absolute; 
margin-top: 35%;
margin-left: 29%;
padding-left: 15%;
padding-right: 15%;

}

button:hover {
  background-color: pink;
}
 a{ 
    text-decoration: none; 
    color: white;

}
//a:visited { 
    text-decoration: none; 
    color: white;
}
#square{

  position: absolute;
margin-left: 25%;

}
#compost{
  text-align: center;
  position:absolute;
  margin-left: 42%;
  margin-top: 8%;
}
#lefta{
   position:absolute; 
  padding-top: 25%;
    margin-left: 26%; 
}
#righta{
   position:absolute; 
  padding-top: 25%;
    margin-left: 67%; 
}
h2{
  color: rgba(6, 74, 17, 1);
  font-family: Quicksand;
  padding-top: 23%;
    margin-left: 28%;
    position: fixed;
    text-align: center;
    font-size: 90%;

}
#exit{
     position:fixed; 
  padding-top: 5%;
    padding-left: 66%; 
}
h1{
   color: rgba(6, 74, 17, 1);
  font-family: Quicksand;
  padding-top: 17%;
    margin-left: 38%;
    position: absolute;
    text-align: center;
    font-size: 40px; 
}
#pep{
  color: rgba(252, 56, 13, 1);
  font-family: Quicksand;
  text-align: center;

}
